.carouselmaindiv {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06232f;
  padding: 20px;
  color: white;
}


.center1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3rem;
}
.banner .square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.9);
  /* border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  background: rgba(109, 109, 108, 0.1);
  border-radius: 10px;
  
 
  /* z-index: 1; */
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}
@keyframes animate-sqr1 {
  0%,
  100% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(-40px);
  }
}
@keyframes animate-sqr2 {
  0%,
  100% {
    transform: translateX(-40px);
  }
  50% {
    transform: translateX(40px);
  }
}
@keyframes animate-sqr3 {
  0%,
  100% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(-40px);
  }
}
.banner .square:nth-child(1) {
  top: 40px;
  left: 0px;
  width: max(6vw,50px);
    height: max(6vw,50px);
    animation: animate 10s linear infinite;
  /* animation-delay: calc(-1s * var(--i)); */
}
.banner .square:nth-child(2) {
  top: 0px;
  right:40px;
  width: max(6vw,50px);
    height: max(6vw,50px);
  z-index: 1;
  animation: animate-sqr1 10s linear infinite;
  /* animation-delay: calc(-1s * var(--i)); */
}
.banner .square:nth-child(3) {
  bottom: 40px;
  right: 0px;
  width: max(6vw,50px);
    height: max(6vw,50px);
    animation: animate-sqr3 10s linear infinite;
  /* animation-delay: calc(-1s * var(--i)); */
}
.banner .square:nth-child(4) {
  bottom: 0px;
  left: 40px;
  width: max(6vw,50px);
    height: max(6vw,50px);
  z-index: 1;
  animation: animate-sqr2 10s linear infinite;
  /* animation-delay: calc(-1s * var(--i)); */
}
/* .banner .square:nth-child(5) {
  top: 350px;
  right: 310px;
  width: 600px;
  height: 100px;
} */

.homeh1h2 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  z-index: 1;
  /* color: goldenrod; */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
  
}
.homeh1h2 h1 {
  font-weight: bolder;
  font-size: 50px;
}
.homeh1h2 h3 {
  font-weight: bolder;
  font-size: 30px;
}
.banner {
  background: url("../Assets/TWILIGHT-s/FB_IMG_1673001476189.jpg");
  background-size: cover;
  width: 80%;
  border-radius: 1rem;
  border: 2px solid aqua;
  height: 80vh;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
  animation: animate2 30s infinite;
}
@keyframes animate2 {
  20% {
    background: url("../Assets/TWILIGHT-s/FB_IMG_1673001470852.jpg");
    background-size: cover;
  }
  40% {
    background: url("../Assets/TWILIGHT-s/164 Brush Creek Drive 00138t.jpg");
    background-size: cover;
  }
  60% {
    background: url("../Assets/TWILIGHT-s/FB_IMG_1673001476189.jpg");
    background-size: cover;
  }
  80% {
    background: url("../Assets/TWILIGHT-s/FB_IMG_1673001470852.jpg");
    background-size: cover;
  }
  100% {
    background: url("../Assets/TWILIGHT-s/164 Brush Creek Drive 00138t.jpg");
    background-size: cover;
  }
}

@media only screen and (max-width: 768px) {
  .carouselmaindiv {
    
    width: 100%;
    height: 55vh;
  }
  .banner{
    margin-top: 6rem;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  
  .homeh1h2 {
    /* color: white; */
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  .homeh1h2 h1 {
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
  }
  .homeh1h2 h3 {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin: 1rem 0;
  }
  
}
